// Layers
#define GR          0
#define QW          1
#define GAME        2
#define EXT         3
#define NFN         4
#define SYS         5
#define COMBO_LAYERS GR QW

#define PRE_DSK LC(LG(LEFT))
#define NEX_DSK LC(LG(RIGHT))

#define ALT_LT &mt MET TAB &smart_sft &lt EXT ESC
#define ALT_RT &thm ALT SPC &mt_bsdel CTL 0 &lt NFN RET

#define LEFT_THUMBS &mt MET TAB &smart_sft &lt EXT ESC
#define RIGHT_THUMBS &thl NFN SPC &mt_bsdel CTL 0 &mt ALT RET

#include "extra_keys.h"
#include "keys_en_gb_extended.h"
#include "behaviors.dtsi"
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

ZLAYER(graphite,
  &kp B &kp L &kp D &kp W &kp Z /**/ &sqt_dqt &kp F &kp O    &kp U     &kp J,
  &kp N AL(R) ML(T) CL(S) SL(G) /**/ SR(Y)    CR(H) MR(A)    AR(E)     &kp I,
  &kp Q &kp X &kp M &kp C &kp V /**/ &kp K    &kp P &dot_col &kp MINUS &com_sem,
)

ZLAYER(qwerty,
  &kp Q &kp W &kp E &kp R &kp T /**/ &kp Y &kp U &kp I   &kp O     &kp P,
  &kp A AL(S) ML(D) CL(F) SL(G) /**/ SR(H) CR(J) MR(K)   AR(L)     &kp SEMI,
  &kp Z &kp X &kp C &kp V &kp B /**/ &kp M &kp N &kp DOT &kp COMMA &kp FSLH,
)

#if defined GAME_LAYER_KEYS
  ZMK_LAYER(game, GAME_LAYER_KEYS)
#else
  TRANS_LAYER(game)
#endif

// Extend Layer with Macros and Special Keys
ZLAYER(extend,
  &kp SFT  &kp MET      CL(PRE_DSK)  AL(NEX_DSK)   &sk RALT /**/ &kp HOME   AR(PG_DN)    CR(PG_UP)    MR(END)   SR(CAPS) ,
  &alt_tab &kp LC(BSPC) &pre_tab     &nex_tab      &vi_sav  /**/ &kp LEFT   &kp DOWN     &kp UP       &kp RIGHT &kp INS  ,
  &none    &none        &kp LC(LEFT) &kp LC(RIGHT) &none    /**/ &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp DEL   &kp PSCRN,
)

// Numpad & Function Keys
ZLAYER(nfn,
  &kp F1 &kp F2  &kp F3  &kp F4  &none /**/ &kp DOT  &kp N7 &kp N8 &kp N9 &kp PLUS ,
  &kp F5 &kp F6  &kp F7  &kp F8  &none /**/ &kp FSLH &kp N4 &kp N5 &kp N6 &kp N0   ,
  &kp F9 &kp F10 &kp F11 &kp F12 &none /**/ &kp STAR &kp N1 &kp N2 &kp N3 &kp MINUS,
)

// System Settings
ZLAYER(system,
  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR  /**/ &bt BT_CLR_ALL &none &none &none &tog GAME,
  &none        &none        &kp C_BRI_UP &kp C_BRI_DN &sys_reset  /**/ &sys_reset     &none &none &none &tog QW,
  &out OUT_BLE &out OUT_USB &none        &none        &bootloader /**/ &bootloader    &none &none &none &none,
)

// vi:ft=dts
