// Layers
#define CO 0
#define QW 1
#define GAME 2
#define SYM 3
#define NUM 4
#define FN 5
#define EXT 6
#define SYS 7
#define COMBO_LAYERS CO QW SYM EXT NUM FN SYS

#define DEFAULT_BOTTOM_ROW X_LH &lt_bsdel NUM 0 &kp SPC &lt EXT ESC /**/ &lt SYM RET &kp LSHFT &lt FN TAB X_RH

#include "extra_keys.h"
#include "behaviors.dtsi"
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define LAG LA(LGUI)
#define LCG LC(LGUI)
#define LSG LS(LGUI)
#define LAC LC(LALT)
#define LAS LS(LALT)

ZMK_CONDITIONAL_LAYER(EXT SYM, SYS)

ZMK_LAYER(colemak_dh,
  X_LT &kp Q &kp W       &hml LCG F  &hml LAG P  &hml LSG B   /**/ &hmr LSG J   &hmr LAG L  &hmr LCG U     &kp  Y      &kp SEMI X_RT
  X_LM &kp A &hml LGUI R &hml LCTL S &hml LALT T &hml LSHFT G /**/ &hmr LSHFT M &hmr LALT N &hmr LCTL E    &hmr LGUI I &kp O    X_RM
  X_LB &kp Z &kp X       &hml LAC C  &kp D       &hml LAS V   /**/ &hmr LAS K   &kp H       &hmr LAC COMMA &kp DOT     &kp FSLH X_RB

  DEFAULT_BOTTOM_ROW
)

ZMK_LAYER(qwerty,
  X_LT &trans &trans      &hml LCG E  &hml LAG R  &hml LSG T /**/ &hmr LSG Y   &hmr LAG U  &hmr LCG I     &kp O       &kp P    X_RT
  X_LM &trans &hml LGUI S &hml LCTL D &hml LALT F &trans     /**/ &hml LSHFT H &hmr LALT J &hmr LCTL K    &hmr LGUI L &kp SEMI X_RM
  X_LB &trans &trans      &hml LAC C  &kp V       &hml LAS B /**/ &hmr LAS N   &kp M       &hmr LAC COMMA &trans      &kp FSLH X_RB

  DEFAULT_BOTTOM_ROW
)

#if defined GAME_LAYER_KEYS
  ZMK_LAYER(game, GAME_LAYER_KEYS)
#endif

ZMK_LAYER(symbol,
  X_LT &none &none &none &none &none /**/ &none &kp BSLH &kp PIPE &none     &none     X_RT
  X_LM &none &none &none &none &none /**/ &none &uc_gbp  &uc_eur  &uc_rup   &none     X_RM
  X_LB &none &none &none &none &none /**/ &none &kp AMPS &kp STAR &kp PRCNT &kp CARET X_RB

  DEFAULT_BOTTOM_ROW
)

// Numpad
ZMK_LAYER(numbers,
  X_LT &kp PLUS &kp N7 &kp N8 &kp N9 &kp DOT  /**/ &none &none &none &none &none X_RT
  X_LM &kp N0   &kp N4 &kp N5 &kp N6 &kp FSLH /**/ &none &none &none &none &none X_RM
  X_LB &kp EQL  &kp N1 &kp N2 &kp N3 &kp STAR /**/ &none &none &none &none &none X_RB

  DEFAULT_BOTTOM_ROW
)

// Function Keys
ZMK_LAYER(functionkeys,
  X_LT &none &none &none &none &none /**/ &none &kp F1 &kp F2  &kp F3  &kp F4  X_RT
  X_LM &none &none &none &none &none /**/ &none &kp F5 &kp F6  &kp F7  &kp F8  X_RM
  X_LB &none &none &none &none &none /**/ &none &kp F9 &kp F10 &kp F11 &kp F12 X_RB

  DEFAULT_BOTTOM_ROW
)

// Extend Layer with Macros and Special Keys
ZMK_LAYER(extend,
  X_LT &none   &none     &pre_dsk   &nex_dsk    &kp C_VOL_UP /**/ &kp HOME &kp PG_DN    &kp PG_UP    &kp END   &kp CAPS X_RT
  X_LM &vi_sav &find     &pre_tab   &nex_tab    &kp C_MUTE   /**/ &kp LEFT &kp DOWN     &kp UP       &kp RIGHT &none    X_RM
  X_LB &none   &kp K_CUT &kp K_COPY &kp K_PASTE &kp C_VOL_DN /**/ &none    &kp C_BRI_DN &kp C_BRI_UP &none     &none    X_RB

  DEFAULT_BOTTOM_ROW
)

// System Settings
ZMK_LAYER(system,
  X_LT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR  /**/ &none       &none &none &none &none X_RT
  X_LM &tog GAME    &tog QW      &none        &none        &sys_reset  /**/ &sys_reset  &none &none &none &none X_RM
  X_LB &none        &none        &none        &none        &bootloader /**/ &bootloader &none &none &none &none X_RB

  DEFAULT_BOTTOM_ROW
)

// vi:ft=dts
