// Layers
#define CO 0
#define QW 1
#define GAME 2
#define NFN 3
#define EXT 4
#define SYS 5
#define COMBO_LAYERS CO QW EXT NFN SYS

#define DEFAULT_BOTTOM_ROW X_LH &lt_bsdel NFN 0 &kp SPC &lth EXT ESC X_MH /**/ &lth EXT RET &kp LSHFT &lth NFN TAB X_RH

#define TRANS_ROW &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
#define TRANS_LAYER \
    X_LT TRANS_ROW X_RT \
    X_LM TRANS_ROW X_RM \
    X_LB TRANS_ROW X_RB \
    DEFAULT_BOTTOM_ROW

#include "extra_keys.h"
#include "behaviors.dtsi"
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define LAG LA(LGUI)
#define LCG LC(LGUI)
#define LSG LS(LGUI)
#define LAC LC(LALT)
#define LAS LS(LALT)
#define LSC LC(LSFT)

ZMK_LAYER(colemak_dh,
  X_LT &kp Q        &kp W       &hml LCG F  &hml LAG P  &kp B /**/ &kp J &hmr LAG L  &hmr LCG U     &kp  Y       &kp SEMI     X_RT
  X_LM &hml LSHFT A &hml LGUI R &hml LCTL S &hml LALT T &kp G /**/ &kp M &hmr LALT N &hmr LCTL E    &hmr LGUI I  &hmr LSHFT O X_RM
  X_LB &kp Z        &hml LSG X  &hml LSC C  &hml LAS D  &kp V /**/ &kp K &hmr LAS H  &hmr LSC COMMA &hmr LSG DOT &kp FSLH     X_RB

  DEFAULT_BOTTOM_ROW
)

ZMK_LAYER(qwerty,
  X_LT &trans &trans      &hml LCG E  &hml LAG R  &kp T  /**/ &kp Y &hmr LAG U  &hmr LCG I  &kp O       &kp P           X_RT
  X_LM &trans &hml LGUI S &hml LCTL D &hml LALT F &trans /**/ &kp H &hmr LALT J &hmr LCTL K &hmr LGUI L &hmr LSHFT SEMI X_RM
  X_LB &trans &trans      &trans      &hml LAS V  &kp B  /**/ &kp N &hmr LAS M  &trans      &trans      &kp FSLH        X_RB

  DEFAULT_BOTTOM_ROW
)

#if defined GAME_LAYER_KEYS
  ZMK_LAYER(game, GAME_LAYER_KEYS)
#else
  ZMK_LAYER(game, TRANS_LAYER)
#endif

// Numpad & Function Keys
ZMK_LAYER(nfn,
  X_LT &kp PLUS &kp N7 &kp N8 &kp N9 &kp DOT  /**/ &none &kp F1 &kp F2  &kp F3  &kp F4  X_RT
  X_LM &kp N0   &kp N4 &kp N5 &kp N6 &kp FSLH /**/ &none &kp F5 &kp F6  &kp F7  &kp F8  X_RM
  X_LB &kp EQL  &kp N1 &kp N2 &kp N3 &kp STAR /**/ &none &kp F9 &kp F10 &kp F11 &kp F12 X_RB

  DEFAULT_BOTTOM_ROW
)

// Extend Layer with Macros and Special Keys
ZMK_LAYER(extend,
  X_LT &zout   &zin  &pre_dsk &nex_dsk &kp C_VOL_UP /**/ &kp HOME &kp PG_DN    &kp PG_UP    &kp END   &kp CAPS  X_RT
  X_LM &vi_sav &find &pre_tab &nex_tab &kp C_MUTE   /**/ &kp LEFT &kp DOWN     &kp UP       &kp RIGHT &kp INS   X_RM
  X_LB &none   &cut  &copy    &paste   &kp C_VOL_DN /**/ &none    &kp C_BRI_DN &kp C_BRI_UP &none     &kp PSCRN X_RB

  DEFAULT_BOTTOM_ROW
)

// System Settings
ZMK_LAYER(system,
  X_LT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR  /**/ &none       &none &none &none &none X_RT
  X_LM &tog GAME    &tog QW      &none        &none        &sys_reset  /**/ &sys_reset  &none &none &none &none X_RM
  X_LB &out OUT_BLE &out OUT_USB &none        &none        &bootloader /**/ &bootloader &none &none &none &none X_RB

  DEFAULT_BOTTOM_ROW
)

// vi:ft=dts
