/ {
  combos {
    compatible = "zmk,combos";
    // top row
    c_tilde {
      timeout-ms = <40>;
      key-positions = <1 2>;
      bindings = <&kp TILDE>;
      layers = <0 1 2 3>;
    };
    c_grave {
      timeout-ms = <40>;
      key-positions = <2 3>;
      bindings = <&kp GRAVE>;
      layers = <0 1 2 3>;
    };
    c_eql {
      timeout-ms = <40>;
      key-positions = <6 7>;
      bindings = <&kp EQUAL>;
      layers = <0 1 2 3>;
    };
    c_plus {
      timeout-ms = <40>;
      key-positions = <7 8>;
      bindings = <&kp PLUS>;
      layers = <0 1 2 3>;
    };
    // home row
    c_bsp {
      timeout-ms = <40>;
      key-positions = <11 12>;
      bindings = <&kp BSPC>;
      layers = <0 1 2 3>;
    };
    c_esc {
      timeout-ms = <40>;
      key-positions = <12 13>;
      bindings = <&kp ESC>;
      layers = <0 1 2 3>;
    };
    c_tab {
      timeout-ms = <40>;
      key-positions = <16 17>;
      bindings = <&kp TAB>;
      layers = <0 1 2 3>;
    };
    c_del {
      timeout-ms = <40>;
      key-positions = <17 18>;
      bindings = <&kp DEL>;
      layers = <0 1 2 3>;
    };
    // bottom row [{( )}]
    c_lpar {
      timeout-ms = <40>;
      key-positions = <23 24>;
      bindings = <&kp LPAR>;
      layers = <0 1 2 3>;
    };
    c_lbrc {
      timeout-ms = <40>;
      key-positions = <22 23>;
      bindings = <&kp LBRC>;
      layers = <0 1 2 3>;
    };
    c_lbkt {
      timeout-ms = <40>;
      key-positions = <21 22>;
      bindings = <&kp LBKT>;
      layers = <0 1 2 3>;
    };
    c_rpar {
      timeout-ms = <40>;
      key-positions = <27 28>;
      bindings = <&kp RPAR>;
      layers = <0 1 2 3>;
    };
    c_rbrc {
      timeout-ms = <40>;
      key-positions = <28 29>;
      bindings = <&kp RBRC>;
      layers = <0 1 2 3>;
    };
    c_rbkt {
      timeout-ms = <40>;
      key-positions = <29 30>;
      bindings = <&kp RBKT>;
      layers = <0 1 2 3>;
    };
  };
};
