manifest:
  defaults:
    remote: urob
    revision: v0.1
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob
    - name: englmaxi
      url-base: https://github.com/englmaxi
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-tri-state
      path: modules/tri-state
    - name: zmk-helpers
      path: modules/helpers
    - name: zmk-dongle-display
      remote: englmaxi
      revision: main
  self:
    path: config
